.videos {
  background-color: var(--core1);
  text-align: center;
  display: grid;
  justify-content: center;
  padding-bottom: 50px;
}

.videos h1 {
  margin-bottom: 50px;
}

.videos-filho {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0px 10px;
}

.videos-filho iframe {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  max-width: 100%;
}

.videoupado {
  width: 560px;
  max-width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
}
